body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Component */
.header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 34px;
  align-items: center;
  border: solid red 5px; /* Remove later */
}

/* Home Component */
#home-title {
  text-align: center;
  font-size: 3em;
  color: rgba(19, 203, 228, 0.952);
}

#statement {
  text-align: center;
  font-size: 2em;
}

.search-bar {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#search {
  font-size: 2em;
}

.search-submit {
  border: none;
  background: none;
  font-size: 1.8em;
}

/* Sign Up Component */
#signUp-title {
  text-align: center;
  font-size: 2.5em;
  color: rgba(185, 2, 185, 0.877);
}

.signUp-form {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signUp-label {
  color: rgba(153, 11, 153, 0.904);
  font-size: 1.5em;
}

#email, #username, #password {
  font-size: 1em;
}