body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: rgba(185, 2, 185, 0.877);
}

.link {
  text-decoration: none;
  color: rgb(19, 204, 228);
  font-size: 1.5em;
  border: 1px solid rgb(19, 204, 228);
  border-radius: 5px;
  box-shadow: 2px 4px rgb(19, 204, 228);
  padding: 5px; 
}

/* Header Component */
.header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 34px;
  align-items: center;
  margin-bottom: 2em;
  border: solid red 5px; /* Remove later */
}

/* Home Component */
#home-title {
  font-size: 4em;
  color: rgba(19, 203, 228, 0.952);
}

#statement {
  text-align: center;
  font-size: 2em;
}

.search-bar {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#search {
  font-size: 2em;
}

.search-submit {
  border: none;
  background: none;
  font-size: 1.8em;
}

/* Sign Up Component / Sign In Component */
.signUp-form,
.signIn-form {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signUp-label,
.signIn-label {
  color: rgba(153, 11, 153, 0.904);
  font-size: 1.5em;
  font-weight: 500;
  margin: 0.5em 0 0.5em 0;
}

#email,
#username,
#password,
#signIn-username,
#signIn-password {
  font-size: 1em;
  margin: 0.75em;
}

.signUp-submit,
.signIn-submit {
  font-size: 1.25em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgba(185, 2, 185, 0.877);
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5em;
}

.signIn-submit:hover {
  background: none;
  color: black;
}

/* Profile Component */
/* #profile-title {
  font-size: 3em;
} */
.box-card {
  display: flex;
  margin: 20px 0 20px 0;
  padding: 5px;
}

.inner-box {
  display: inline-flex;
  flex-wrap: wrap;
  width: 32%;
  margin: 3px;
  padding-left: 12px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(221, 221, 221, 0.932);
  box-shadow: 3px 4px rgb(78, 77, 77);
}

.box-title {
  margin: 8px;
  font-size: 31px;
  font-weight: 600;
  color: rgb(19, 204, 228);
}

.box-description {
  margin: 8px;
  font-size: 21px;
  font-weight: 500;
  color: rgba(44, 44, 44, 0.781);
}
.profile-search {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 0 10px 0;
  padding: 5px;
}

/* ProductList */
.product-card {
  display: flex;
  border: 3px solid red;
}

.product-inner {
  display: inline-flex;
  flex-wrap: wrap;
  width: 32%;
  border: 2px dotted blue;
}

/* Footer Component */
.footer {
  margin-top: 2em;
  background-color: rgba(44, 44, 44, 0.781);
}

.website-links,
.contact-info,
.parnerships-socials {
  display: inline-block;
  width: 32.58%;
  text-align: center;
}

.footer-title,
.subheading,
.footer-p {
  margin: 0.25em;
  font-size: 0.8em;
  color: rgb(247, 242, 242);

}