body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: rgba(185, 2, 185, 0.877);
}

.link {
  text-decoration: none;
  color: rgb(19, 204, 228);
  font-size: 1.5em;
  border: 1px solid rgb(19, 204, 228);
  border-radius: 5px;
  box-shadow: 2px 4px rgb(79, 87, 88);
  padding: 5px; 
}

/* Header Component */
.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 34px;
  align-items: center;
  margin-bottom: 2em;
  border: solid red 5px; /* Remove later */
}

#compostion-button {
  position: absolute;
  top: 30px;
  right: 0;
}

#menu {
  width: 85%;
  height: 85%;
  color: rgb(19, 204, 228);
  padding-right: 8px;
}

#composition-menu {
  display: flex;
  align-items: center;
}

.hidden-link {
  text-decoration: none;
  color: rgb(19, 204, 228);
  font-size: 1.5em;
  border: 1px solid rgb(19, 204, 228);
  border-radius: 5px;
  box-shadow: 2px 4px rgb(79, 87, 88);
  padding: 5px;
  margin: 0;
}

/* Home Component */
#home-title {
  font-size: 4em;
  color: rgba(19, 203, 228, 0.952);
}

#statement {
  text-align: center;
  font-size: 2em;
}

#search-bar {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#search {
  font-size: 2em;
}

.search-submit {
  border: none;
  background: none;
  font-size: 1.8em;
}

#items {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25em;
  color: rgb(19, 204, 228)
}

/* Sign Up Component / Sign In Component */
.signUp-form,
.signIn-form {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signUp-label,
.signIn-label {
  color: rgba(153, 11, 153, 0.904);
  font-size: 1.5em;
  font-weight: 500;
  margin: 0.5em 0 0.5em 0;
}

#email,
#username,
#password,
#signIn-username,
#signIn-password {
  font-size: 1em;
  margin: 0.75em;
}

.signUp-submit,
.signIn-submit {
  font-size: 1.25em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgba(185, 2, 185, 0.877);
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5em;
}

.signIn-submit:hover {
  background: none;
  color: black;
}

.box-card {
  display: flex;
  margin: 20px 0 20px 0;
  padding: 5px;
}

.inner-box {
  display: inline-flex;
  flex-wrap: wrap;
  width: 32%;
  margin: 3px;
  padding-left: 12px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(221, 221, 221, 0.932);
  box-shadow: 3px 4px rgb(78, 77, 77);
}

.box-title {
  margin: 8px;
  font-size: 31px;
  font-weight: 600;
  color: rgb(19, 204, 228);
}

.box-description {
  margin: 8px;
  font-size: 21px;
  font-weight: 500;
  color: rgba(44, 44, 44, 0.781);
}
.profile-search {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 0 10px 0;
  padding: 5px;
}

/* User Details */
#user-details {
  text-align: center;
}

.required {
  color: rgba(255, 0, 0, 0.87);
}

#statement {
  font-size: 1.3em;
  font-weight: 600;
}

#user-details, label {
  font-size: 1.2em;
  margin: 5px 10px;
}

#personal, #address {
  font-size: 1.6em;
  color: rgb(19, 204, 228);
}

#userDetails-submit {
  border: none;
  background: rgb(3, 228, 3);
  border-radius: 5px;
  font-size: 1.25em;
  margin: 10px 0;
  padding: 8px;
}

/* ProductList */
.product-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  border: 3px solid red;
}

.data-item {
  display: inline-grid;
  white-space: pre-line;
  border: 2px dotted blue;
}

/* ProductDetails */
.detail-card {
  display: inline-flex;
  width: 100%;
  text-align: center;
}
 #product-details, /*Remove Later*/
 #checkout {
  border: 2px solid red;
 }

 #productName,
 #description,
 #price,
 #checkout-title { /*Romove Later*/
  margin: 10px 0 10px 0;
  border: 1px dotted blue;
 }

 #product-details {
  width: 66%;
 }

 #productName,
 #checkout-title {
  font-size: 2em;
  color: rgb(19, 204, 228);
 }

 #description {
  font-size: 1.25em;
 }

 #checkout {
  width: 33%;
 }

 #price {
  font-size: 1.5em;
  font-weight: 700;
  text-align: left;
 }

/* Footer Component */
.footer {
  margin-top: 2em;
  background-color: rgba(44, 44, 44, 0.781);
}

.website-links,
.contact-info,
.parnerships-socials {
  display: inline-block;
  width: 32.58%;
  text-align: center;
}

.footer-title,
.subheading,
.footer-p {
  margin: 0.25em;
  font-size: 0.8em;
  color: rgb(247, 242, 242);

}

#payment-element {
  width: 100%;
  border: 2px solid orange;
}